/* Glitch Effect */
.glitch-wrapper {
    display: inline-block;
    position: relative;
}

.glitch {
    position: relative;
    color: var(--text-primary);
    font-weight: bold;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-primary);
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 #00ffff;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -1px 0 #ff00ff;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(30px, 9999px, 10px, 0);
    }

    5% {
        clip: rect(80px, 9999px, 5px, 0);
    }

    10% {
        clip: rect(42px, 9999px, 88px, 0);
    }

    15% {
        clip: rect(10px, 9999px, 3px, 0);
    }

    20% {
        clip: rect(50px, 9999px, 20px, 0);
    }

    25% {
        clip: rect(12px, 9999px, 98px, 0);
    }

    30% {
        clip: rect(66px, 9999px, 33px, 0);
    }

    35% {
        clip: rect(59px, 9999px, 10px, 0);
    }

    40% {
        clip: rect(98px, 9999px, 55px, 0);
    }

    45% {
        clip: rect(22px, 9999px, 12px, 0);
    }

    50% {
        clip: rect(38px, 9999px, 7px, 0);
    }

    55% {
        clip: rect(9px, 9999px, 25px, 0);
    }

    60% {
        clip: rect(78px, 9999px, 90px, 0);
    }

    65% {
        clip: rect(44px, 9999px, 5px, 0);
    }

    70% {
        clip: rect(54px, 9999px, 26px, 0);
    }

    75% {
        clip: rect(15px, 9999px, 78px, 0);
    }

    80% {
        clip: rect(30px, 9999px, 15px, 0);
    }

    85% {
        clip: rect(45px, 9999px, 92px, 0);
    }

    90% {
        clip: rect(12px, 9999px, 56px, 0);
    }

    95% {
        clip: rect(67px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(89px, 9999px, 12px, 0);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(60px, 9999px, 19px, 0);
    }

    5% {
        clip: rect(90px, 9999px, 54px, 0);
    }

    10% {
        clip: rect(10px, 9999px, 22px, 0);
    }

    15% {
        clip: rect(50px, 9999px, 66px, 0);
    }

    20% {
        clip: rect(30px, 9999px, 14px, 0);
    }

    25% {
        clip: rect(80px, 9999px, 5px, 0);
    }

    30% {
        clip: rect(40px, 9999px, 88px, 0);
    }

    35% {
        clip: rect(70px, 9999px, 3px, 0);
    }

    40% {
        clip: rect(12px, 9999px, 10px, 0);
    }

    45% {
        clip: rect(55px, 9999px, 78px, 0);
    }

    50% {
        clip: rect(25px, 9999px, 90px, 0);
    }

    55% {
        clip: rect(85px, 9999px, 12px, 0);
    }

    60% {
        clip: rect(15px, 9999px, 56px, 0);
    }

    65% {
        clip: rect(98px, 9999px, 34px, 0);
    }

    70% {
        clip: rect(44px, 9999px, 24px, 0);
    }

    75% {
        clip: rect(33px, 9999px, 79px, 0);
    }

    80% {
        clip: rect(22px, 9999px, 12px, 0);
    }

    85% {
        clip: rect(66px, 9999px, 55px, 0);
    }

    90% {
        clip: rect(11px, 9999px, 89px, 0);
    }

    95% {
        clip: rect(77px, 9999px, 33px, 0);
    }

    100% {
        clip: rect(44px, 9999px, 11px, 0);
    }
}